<div id="prev">
   <img id="cover" src="{{coverArt}}" width="100" height="100">
   <div id="innerContainer">
      <h1>{{song}}</h1>
      <p>{{artist}}</p>
   </div>
</div>
<form id="imageForm" action="/image" method="post">
   <input type="hidden" name="song" value="{{{song}}}">
   <input type="hidden" name="artist" value="{{artist}}">
   <input type="hidden" name="coverArt" value="{{coverArt}}">
   <input type="hidden" id="verses" name="verses">

   <div id="styleForm">
      <div class="inner">
         <label for="backgroundColor">Background Color:</label>
         <input type="color" id="backgroundColor" name="backgroundColor" value="#FFFFFF" onchange="document.getElementById('prev').style['backgroundColor'] = this.value">
      </div>
      <div class="inner">
         <label for="whiteFont">Font Color:</label>
         <select name="whiteFont" id="whiteFont" onchange="changeFont(this)">
            <option value="false" selected>Black</option>
            <option value="true">White</option>
         </select>
      </div>
   </div>
   <div id="verses">
      <h2>Select the verses:</h2>
      {{#each lyrics}}
         {{#if this}}
            <button type="button" onclick="this.classList.toggle('selected')">{{this}}</button>
         {{/if}}
      {{/each}}
   </div>
   <button type="submit">Create image</button>
</form>
<div id="popup">
   <div id="loader"></div>
   <div id="content">
      <span onclick="document.getElementById('popup').style.display='none';document.getElementById('content').style.display='none';document.getElementById('loader').style.display='block'">&times;</span>
      <img id="preview" src="">
      <a id="download" download="letrito.png" href="">Download</a>
   </div>
</div>
<script>
   document.addEventListener("submit", async (e) => {
      if (e.srcElement.id != "imageForm") return;

      e.preventDefault();

      document.getElementById("popup").style.display = "flex";

      const selected = document.querySelectorAll(".selected");
      const versesInput = document.getElementById("verses");

      const verses = [];
      for (let verse of selected) {
         verses.push(verse.innerHTML);
      }
      versesInput.value = JSON.stringify(verses);

      const formData = new FormData(document.getElementById("imageForm"));
      const data = new URLSearchParams();

      for (let pair of formData) {
         data.append(pair[0], pair[1]);
      }

      const req = await fetch("/image", {
         method: "POST",
         body: data,
      });

      const image = await req.text();
      document.getElementById("preview").src = image;
      document.getElementById("download").href = image;

      document.getElementById("loader").style.display = "none";
      document.getElementById("content").style.display = "flex";
   });

   function changeFont(elem) {
      const color = elem.value === "true" ? "#fafaff" : "#141414";

      document.querySelector("#innerContainer h1").style["color"] = color;
      document.querySelector("#innerContainer p").style["color"] = color;
   }
</script>
<style>
#prev {
   display: flex;
   gap: 15px;
   align-items: center;
   margin-bottom: 20px;
   padding: 10px;
}

#innerContainer {
   color: "#141414";
   display: flex;
   flex-flow: column;
}

#verses {
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
}

#verses h2 {
   margin-bottom: 4px;
}

#verses button {
   text-align: start;
   width: 100%;
   background-color: white;
   border: none;
   font-family: "Roboto", Times, sans-serif;
   font-size: 16px;
   padding: 4px;
}

@media (hover: hover) {
   #verses :not(.selected):hover {
      background-color: var(--gray);
   }
}

#verses .selected {
   background-color: #dddddd;
}

#verses input[type=checkbox] {
   display: none;
}

#styleForm {
   display: flex;
   flex-flow: column;
   gap: 5px;
   margin-left: 5px;
}

.inner {
   display: flex;
   align-items: center;
   gap: 10px;
}

.inner label {
   font-size: 18px;
   font-weight: 500;
}

.inner input[type=color] {
   width: 60px;
   height: 25px;
   outline: none;
   border: none;
   border-radius: 4px;
}

.inner select {
   background-color: white;
   border: solid 1px var(--dark-gray);
   font-size: 15px;
   padding: 3px;
   border-radius: 4px;
}

button[type=submit] {
   background-color: var(--black);
   color: #fafaff;
   padding: 10px;
   font-family: "Inter", Arial, sans-serif;
   font-size: 20px;
   border: solid 1px var(--gray);
   cursor: pointer;
   font-weight: bold;
   width: 45%;
}

#popup {
   display: none;
   z-index: 100;
   overflow: auto;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

#loader {
   border: 16px solid var(--dark-gray);
   border-top: 16px solid white;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

#content {
   display: none;
   padding: 0px;
   margin: 0px;
   gap: 10px;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}

#popup span {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 25px;
   background-color: var(--black);
   color: white;
   border-radius: 100px;
   padding: 0px 9px;
}

#preview {
   border-radius: 10px;
   max-width: 90%;
   height: auto;
}

#download {
   background-color: var(--black);
   color: white;
   font-family: "Inter", Arial, sans-serif;
   padding: 10px 100px;
   max-width: 90%;
   width: max-content;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   font-size: 20px;
}

@media (max-width: 600px) {
   #verses button {
      font-size: 18px;
      padding: 8px 4px;
   }

   button[type=submit] {
      width: 100%;
   }
}
</style>
