<form action="/image" method="post">
      <input type="hidden" name="song" value="{{{song}}}">
      <input type="hidden" name="artist" value="{{artist}}">
      <input type="hidden" name="coverArt" value="{{coverArt}}">
   {{#each lyrics}}
      <input type="checkbox" id="{{@index}}" name="verses[]" value="{{this}}">
      <label for="{{@index}}">{{this}}</label>
      <br>
   {{/each}}
   <button type="submit">Ok</button>
</form>
