<h1>Results</h1>
{{#if results}}
   {{#each results}}
         <form action="/lyrics" method="post">
            <input type="hidden" name="path" id="path" value="{{this.path}}">
            <input type="hidden" name="artist" id="artist" value="{{this.artist_names}}">
            <input type="hidden" name="song" id="song" value="{{this.title}}">
            <input type="hidden" name="coverArt" id="coverArt" value="{{this.header_image_url}}">
            <button type="submit" class="result">
               <img src="{{this.header_image_url}}" width="100" height="100">
               <div class="innerContainer">
                  <h1>{{this.title}}</h1>
                  <p>{{this.artist_names}}</p>
               </div>
            </button>
         </form>
   {{/each}}
{{/if}}
{{#unless results}}
   <p>No results</p>
{{/unless}}
<style>
.result {
   border: none;
   background-color: white;
   margin: 5px;
   padding: 5px;
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
   cursor: pointer;
}

.result:hover {
   background-color: var(--gray);
}

.innerContainer {
   width: 100%;
   display: flex;
   flex-flow: column;
   text-align: start;
}

.innerContainer h1 {
   font-size: 23px;
}

.innerContainer p {
   font-size: 17px;
}
</style>
